body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(./img.avif);
    background-repeat: no-repeat;
    background-size: cover;
    & div{
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    & span{
        font-weight: bold;
        font-size: larger;
        
    }
    }
}

.square{
    
    height: 100px;
    width: 100px;
    border: 1px solid;
    font-family: 'Chakra Petch', sans-serif;
    font-weight:bold;
    font-size: xx-large;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}